body {background-color: black;}
h1 {color: deeppink; font-family: timesnewroman;}
p {color: aqua; font-family: verdana;}
p2 {color: red; font-family: verdana;}
h2 {color: aquamarine; font-family: timesnewroman;}
h3 {color: aqua;}
span {color: white; font-family: wingdings;}
span2 {color: yellow;}